html, body {
  background: url("../img/textures/body-bg.png") repeat scroll 0 0 transparent;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

#wrap {
  padding-bottom: 100px;
  width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

a {
  color: #004545;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #2AAAAA;
}

p a,
span a,
li a, {
  color: #2AAAAA;
}

header {
  position: relative;
  width: 100%;
}

.title {
  font-family: raleway;
  font-size: 48px;
  font-weight: 400;
  padding: 30px 0;
  text-align: center;
}

.title strong {
  font-weight: 700;
}

.social {
  font-size: 24px;
  padding: 15px 0;
  position: absolute;
  right: 0px;
  top: 0px;
}

.social a {
  color: rgb(80, 80, 90);
  padding-left: 2px;
}

.social a:hover {
  color: rgb(225, 225, 220);
}

.blurb {
  background-position: 0 -160px;
  background-size: cover;
  border-radius: 3px;
  height: 360px;
  position: relative;
}

.blurb p {
  background: rgba(20, 20, 20, .5);
  bottom: -55px;
  color: #FAFAFA;
  font-size: 36px;
  font-style: italic;
  padding: 20px;
  position: absolute;
  text-align: right;
  text-shadow: 2px 1px 1px #333;
}

.project {
  background-size: cover;
  border: 1px solid rgb(225, 225, 220);
  border-radius: 3px;
  height: 360px;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.project h1 {
  background: rgba(20, 20, 20, .7);
  border-radius: 3px;
  color: #FAFAFA;
  font-family: raleway;
  font-size: 36px;
  font-style: italic;
  left: 10px;
  padding: 10px;
  position: absolute;
  text-shadow: 1px 1px 1px #333;
  top: 10px;
  z-index: 1;
}

.project .content {
  border-radius: 3px;
  color: #FAFAFA;
  font-size: 18px;
  font-style: italic;
  position: absolute;
  width: 33%;
  height: 100%;
  right: 0;
  text-shadow: 1px 1px 1px #333;
}

.project .content .content-inner {
  padding: 20px;
}

.mod-0 h1,
.mod-0 .content {
  background: rgba(52, 170, 220, .7);
}

.mod-1 h1,
.mod-1 .content {
  background: rgba(164, 231, 134, .7);
}

.mod-2 h1,
.mod-2 .content {
  background: rgba(255, 149, 0, 0.7);
}

.zenni {
  background-position: 0 -100px;
}

.into {
  background-position: 0 -150px;
}

.disney {
  background-position: 0 -280px;
}

.into-osu {
  background-position: 0 -415px;
}
